<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">
<listeners>
<listener class-name="utility.Reporting"></listener>
</listeners>
  <test thread-count="5" name="Test">
  <parameter name="Browser" value="chrome"></parameter>
  <parameter name="Url" value="https://www.viki.com/"></parameter>
    <classes>
      <class name="practice.TC_viki"/>
      <class name="practice.TC_viki_01"/>
    </classes> 
  </test> <!-- Test -->
</suite> <!-- Suite -->
